
			<!-- header area of the page -->
			<%= render 'layouts/menu' %>
		<!-- main of the page -->
		<main id="main">
			<!-- banner of the page -->
			


<!-- banner of the page -->
			<section class="banner bg-full overlay back21">
				
			</section>
			

			<div class="faq-sec container">
				
						<ul class="accordion list-unstyled">
							<li class="active">
								<a class="opener" href="#">Mot du Directeur <i class="fa fa-minus "></i> <i class="fa fa-plus"></i></a>
								<div class="slide">
									<p>EMARéB est depuis 2010, acteur de l’aménagement et travaux divers, veille toujours sur la qualité de ses prestations, nous avons fait preuve de confiance et de fidélité durant toutes ses années d’existence.<br>
									Nous œuvrons dans un métier de services ou notre valeur ajoutée passe en grande partie par la volonté d’aider, la confiance, l’exigence, la promotion du travail bien fait et le professionnalisme dirigent toutes nos actions et prises de décisions.<br>
                                    Que vous soyez particulier, professionnel, entreprise ou organisme public, vous pouvez compter sur nous pour réaliser vos travaux.<br></p>
  
                                    <div class="row">
                                    	 <div class="col-md-4 col-md-offset-8" style= " text-align: center;">
	                                    	<h5 style="color: #F2613C;">ABDELLAH MEHDAOUI</h5>
	                                    	<p>Directeur Général</p>
                                   		 </div>
                                    </div>
                                   
                                    
								</div>
							</li>
							<li>
								<a class="opener" href="#">EMARéB dans qlq lignes... <i class="fa fa-minus "></i> <i class="fa fa-plus"></i></a>
								<div class="slide colortitle">
									<p>Depuis sa création, <b>EMARéB</b> offre et assure une large gamme de produits et services liés à l’aménagement. Climatisation, électricité LED, peinture, signalisation, étanchéité, Revêtement …etc <br><b>EMARéB</b> dispose du savoir-faire nécessaire et de toutes les compétences pour répondre aux projets de toute nature.<br>La qualité de ses prestations et la compétence de son personnel ont permis de connaître le développement et la diversification de ses activités.<br>Toujours à l’écoute des besoins des clients et à la recherche permanente de leur satisfaction, <b>EMARéB</b> reste toujours à l’affût des évolutions techniques lui permettant aujourd’hui d’être une entreprise reconnue.<br>Complètement indépendante et autonome,  <b> EMARéB </b>s’appuie sur un parc matériel complet et diversifié et un panel fournisseur reconnu qui lui assure disponibilité et réactivité.<br><h5>Nos préoccupations :</h5>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; Analyser les besoins et les objectifs du maître d’ouvrage<br>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; Offrir une vaste gamme de service à la meilleure qualité prix<br>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; Respecter les normes et les délais<br>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; Réaliser les travaux sous les normes sécurité<br>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; Conseiller sur le choix des marques et des produits<br>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; Assistance technique avant et après-vente<br>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; Une présence dans les villes Rabat, Salé et Tanger<br>
									<i class="fa fa-chevron-circle-right" ></i>&nbsp; L’Assurance d’une livraison rapide et sure<br>
									Quelles que soit vos contraintes, EMARéB  met à votre disposition une équipe de professionnel pour vous conseiller afin de trouver pour vous, la solution la mieux adaptée sur le plan technique, qualitatif, esthétique et économique.
								    </p>
								</div>
							</li>

						</ul>
				
			</div>


		<div class="promo-box">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-9">
							<p>
								Vous vous engagez…Nous aussi</p>
						</div>
						<div class="col-xs-12 col-sm-3">
							<a href="<%= contact_path %>" class="btn text-center text-uppercase">Contact</a>
						</div>
					</div>
				</div>
			</div>
		
		<!-- back top of the page -->
		<span id="back-top" class="text-center md-round fa fa-caret-up"></span>
		<!-- loader of the page -->
		
	    
