 <% provide(:titre , "nous") %>
<%= render 'layouts/menu' %>
<main id="main">
			<!-- banner of the page -->
			<section class="banner bg-full overlay back61">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-center">
							<h1 class="main-heading3 text-uppercase">NOTRE POLITIQUE RH</h1>
							<!-- breadcrumbs of the page -->
							<nav class="breadcrumbs text-center">
								<ul class="list-unstyled">
									<li><a href="<%= root_path %>">Acceuil</a></li>
									<li>></li>
									<li>Notre politique</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</section>
			<!-- faq sec of the page -->
			<div class="faq-sec container">
				<div class="row">
					<div class="col-xs-12">
						<!-- accordion of the page -->
						<ul class="accordion list-unstyled">
							<a class="opener" href="#">NOTRE POLITIQUE RH<i class="fa fa-minus "></i> </a>
								<div class="slide">
									<p> Pour EMARéB, la performance économique durable est indissociable d’un projet humain ambitieux alliant responsabilité économique et sociétale.</p><br>
									<p>La politique de gestion des ressources humaines de EMARéB vise à valoriser les compétences, assurer la sécurité de chaque collaborateur, garantir l’égalité des chances à l’embauche et dans l’entreprise, et développer un dialogue social adapté et efficace.</p><br>
                                    <p>Chez EMARéB, nous avons pour ambition de créer l’environnement permettant à chacun de donner la pleine mesure de ses talents, par un management fondé sur la confiance, la solidarité et la responsabilité.</p><br>

                                    <i class="fa fa-chevron-circle-right" ></i>&nbsp;Vous êtes doté de qualités humaines associées à une âme d’entrepreneur ? <br>
                                    <i class="fa fa-chevron-circle-right" ></i>&nbsp;Vous avez le sens des responsabilités et l’esprit d’équipe ? <br>
                                    <i class="fa fa-chevron-circle-right" ></i>&nbsp;Vous savez concilier performance économique et projet humain ambitieux ?</p>
                                    
                                   
                                    
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</main>
		<div class="promo-box">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-9">
							<p>
								Vous vous engagez…Nous aussi   </p>
						</div>
						<div class="col-xs-12 col-sm-3">
							<a href="<%= contact_path %>" class="btn text-center text-uppercase">Contact</a>
						</div>
					</div>
				</div>
			</div>



	
